.header {
  margin-top: 61px;
  height: 50vh;
  text-align: center;
  background-image: url("../../images/developer-blog-share.jpg.twimg.768.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
}
.left,
.right {
  position: absolute;
  font-size: 70px;
  opacity: 0.5;
  cursor: pointer;
  z-index: 888;
}
.left {
  left: 40px;
}
.right {
  right: 40px;
}
.wrapper {
  display: flex;
  position: relative;
  right: 0%;
  transition: all 0.7s ease;
}
